@import "reset.css";

#main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-image: url('./assets/image/video.png');
  background-size: cover;
}

#top-bar {
  flex: 1; // 顶部栏和主题部分比例
  height: 60px;
  background-color: blue;
}

#main-content {
  flex: 17; // 顶部栏和主题部分比例
  display: flex;
  justify-content: space-between;
}

#left-content {
  flex: 274;
  background-image: url('./assets/image/Slice\ 2@2x.png');
  background-size: cover;
  // background-color: #78d5f7;
}
#center-content {
  flex: 412;
}
#right-content {
  flex: 274;
  // background-color: #e8f5a1;
}

